alabaster 
altair 
anyio 
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
asttokens 
atomicwrites==1.4.0
attrs 
autocommand==2.2.2
autopep8 
Babel 
backcall 
backports.csv==1.0.7
bcrypt 
beautifulsoup4 
binaryornot 
black 
bleach 
blinker==1.4
Bottleneck 
brotlipy==0.7.0
cachetools 
certifi 
cffi 
chardet 
charset-normalizer 
cheroot==9.0.0
CherryPy==18.8.0
click 
cloudpickle 
colorama 
commonmark 
contourpy==1.0.6
cookiecutter 
cryptography 
cx-Oracle 
cycler==0.11.0
Cython==0.29.32
debugpy 
decorator 
defusedxml 
diff-match-patch 
dill 
docutils 
entrypoints 
executing 
fastjsonschema 
feedparser==6.0.10
flake8 
flit_core 
fonttools==4.38.0
fst-pso==1.8.1
future 
FuzzyTM==2.0.5
gensim==4.3.0
gitdb 
GitPython 
idna 
imagesize 
importlib-metadata 
inflect==6.0.2
inflection==0.5.1
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
jaraco.classes==3.2.3
jaraco.collections==3.8.0
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
jedi 
jellyfish 
Jinja2 
jinja2-time 
joblib==1.2.0
jsonschema 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab-pygments 
jupyterlab-widgets 
keyring 
kiwisolver==1.4.4
lazy-object-proxy 
lxml 
MarkupSafe 
matplotlib==3.6.2
matplotlib-inline 
mccabe 
miniful==0.0.6
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
more-itertools==9.0.0
mypy-extensions==0.4.3
mysqlclient==2.1.1
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk==3.8.1
notebook 
notebook_shim 
numexpr 
numpy 
numpydoc 
oracledb==1.2.1
packaging 
pandas 
pandocfilters 
paramiko 
parso 
pathspec 
patsy==0.5.3
Pattern==3.6
pdfminer.six==20221105
pexpect 
pickleshare 
Pillow==9.2.0
platformdirs 
plotly==5.11.0
plotly-express==0.4.1
pluggy 
ply==3.11
portend==3.1.0
poyo 
prometheus-client 
prompt-toolkit 
protobuf==3.20.1
psutil 
ptyprocess 
pure-eval 
pyarrow==8.0.0
pycodestyle 
pycparser 
pydantic==1.10.4
pydeck 
pydocstyle 
pyflakes 
pyFUME==0.2.25
Pygments 
pylint 
pyls-spyder==0.4.0
Pympler 
PyNaCl 
pyOpenSSL 
pyparsing 
PyQt5==5.15.7
PyQt5-sip 
PyQtWebEngine==5.15.4
pyrsistent 
PySocks 
python-dateutil 
python-docx==0.8.11
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-slugify 
pytz 
pywin32==305.1
pywin32-ctypes 
pywinpty 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
regex==2022.10.31
requests 
rich 
rope 
Rtree 
scikit-learn==1.2.0
scipy==1.9.3
semver 
Send2Trash 
sgmllib3k==1.0.0
simpful==2.9.0
sip 
six 
smart-open==6.3.0
smmap 
sniffio 
snowballstemmer 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
stack-data 
statsmodels==0.13.5
streamlit==1.16.0
tempora==5.2.0
tenacity==8.1.0
terminado 
text-unidecode 
textdistance 
threadpoolctl==3.1.0
three-merge 
tinycss 
tinycss2 
toml 
tomli 
tomlkit 
toolz 
tornado 
tqdm==4.64.1
traitlets 
typing_extensions 
tzlocal 
ujson 
Unidecode 
urllib3 
validators 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
whatthepatch 
widgetsnbextension 
win-inet-pton 
wincertstore==0.2
wordcloud==1.8.2.2
wrapt 
yapf 
zc.lockfile==2.0
zipp 
